:root {
  --global-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --color-primary-light: #fff;
  --color-accent-dark: #000;
  --color-accent-mediumdark: #928d8d;
  --color-accent-secondary: #862647;
  --color-accent-tertiary: #ffb119;
  --color-accent-cta: #3b81f6;
  --color-accent-muted: #717886;
  --color-accent-error: #b61335;
  --color-border-input: #e0e0e3;
  --color-border-input-active: #9c9d9c;
  --color-border-dash: #e5e7eb;
  --color-border-button: #e6ebef;
  --color-border-plan: #ebecf0;
  --color-link: var(--color-accent-dark);
  --color-link-hover: #119bc8;
  --bgcolor-header: var(--color-primary-light);
  --bgcolor-mobile-megamenu: #e0e0e3;
  --bgcolor-menu: var(--color-accent-dark);
  --bgcolor-form: var(--color-primary-light);
  --bgcolor-input: #f9f9f9;
  --bgcolor-date-button: #f8f9fa;
  --bgcolor-content-page: #e5e5e5;
  --bgcolor-plans-page: #f7f9fa;
  --bgcolor-datepicker-booked: #ffe0e2;
  --bgcolor-footer: #f9f9f9;
  --bgcolor-aside: #c8edea;
  --width-inset: 780px;
  --width-wide: 940px;
}
